
<header class="main-header-container">
    <div class="main-header container">
        <h1>
            <a class="main-logo" href="">
                <span class="main-logo-text main-logo-second">Blog</span>
            </a>
        </h1>
    </div>
    <div class="main-header container">
        <h1>
            <a class="main-logo" href="{% url "recipes:home" %}">
                <i class="fas fa-utensils main-logo-icon"></i>
                <span class="main-logo-text">Recipes</span>
            </a>
        </h1>
    </div>
    <div class="main-header container">
        <h1>
            <a class="main-logo" href="{% url "recipes:new_recipe" %}">
                <span class="main-logo-text main-logo-second">New Recipe</span>
            </a>
        </h1>
    </div>
</header>